body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background: #34495e;
    overflow-x: hidden;
}

nav {
    margin-bottom: 12px;
}

.myclass {
    text-transform: uppercase;
    font-family: 'Roboto';
}

.mydate {
    text-decoration: underline;
    color: #e74c3c;
}

.myarrow {    
    border-right: 6px solid rgb(127, 140, 141); 
    border-bottom: 6px solid rgb(127, 140, 141);
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
}
.row {
    margin-bottom: 0;
}
#myspinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input {
    font-family: "Open Sans";
}



/* The Modal (background) */
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modals-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modals-header {
    padding: 2px 30px;
    background-color: #5cb85c;
    color: white;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

.modals-body {padding: 2px 16px;}

.modals-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

li {
    list-style-type:circle;
    padding-right: 15px;
}
